# MSVC WINDOWS build: Visual C++ 7 Version

# defaults to environment variables if found
!IFNDEF SYSTEMC
SYSTEMC = C:\SystemC\systemc-2.3.0\msvc71
!ENDIF

CC = cl.exe
LD = link.exe /SUBSYSTEM:CONSOLE /nologo
OPT    = /O2
DEBUG  = /Od /ZI -D_CRT_SECURE_NO_DEPRECATE

FLAGS  = $(DEBUG) /MLd /GR /vmg /EHsc /nologo /W3 /WX /DSC_INCLUDE_DYNAMIC_PROCESSES\
         /I"C:\Program Files\Microsoft Visual Studio .NET 2003\Vc7\include" \
         /I"C:\Program Files\Microsoft Visual Studio .NET 2003\SDK\v1.1\include" \
         /I"$(SYSTEMC)\..\src"

MAKE = nmake /NOLOGO

LDFLAGS = /debug  /NODEFAULTLIB:libc \
          /LIBPATH:"$(SYSTEMC)\SystemC\Debug" \
          /LIBPATH:"C:\Program Files\Microsoft Visual Studio .NET 2003\SDK\v1.1\Lib" \
          systemc.lib
