# MSVC WINDOWS build:

# defaults to environment variables if found
!IFNDEF SYSTEMC
SYSTEMC = C:\SystemC\systemc-2.3.0\msvc90
!ENDIF

CC = cl.exe
LD = link.exe /SUBSYSTEM:CONSOLE /nologo
OPT    = /O2
DEBUG  = /Od /ZI -D_CRT_SECURE_NO_WARNINGS

# Adjust the following includes according to your version of Visual C++
FLAGS  = $(DEBUG) /GR /vmg /MTd /EHsc /nologo /W3 /WX /DSC_INCLUDE_DYNAMIC_PROCESSES\
         /I"$(SYSTEMC)\..\src"

MAKE = nmake /NOLOGO

LDFLAGS = /debug \
          /LIBPATH:"$(SYSTEMC)\SystemC\Debug" \
          systemc.lib kernel32.lib
